NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BRAND_NAME=Giftora
NEXT_PUBLIC_SUPPORT_PHONE=+919603327450
NEXT_PUBLIC_WHATSAPP_NUMBER=919603327450
NEXT_PUBLIC_SUPPORT_EMAIL=hello@giftora.example
NEXT_PUBLIC_DEFAULT_CITY=Hyderabad
DATABASE_URL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
